set clipboard=unnamed,autoselect
set cursorline 		" カーソル行をハイライト
set hlsearch 		" ハイライトサーチ
set history=50		" keep 50 lines of command line history
set ignorecase 		" 検索時、大文字・小文字を気にせず
set iminsert=0
set imsearch=-1
set incsearch		" do incremental searching
set nowrap
set number
set ruler		    " show the cursor position all the time
set shiftwidth=4
set showcmd		    " display incomplete commands
set tabstop=4
set virtualedit=all
set whichwrap=<,>,[,]

" 自動的に閉じ括弧を入力
imap {{ {}<LEFT>
imap [[ []<LEFT>
imap (( ()<LEFT>

" 日本語キーボードも使うので
nnoremap ( *
nnoremap ! ~

" コロンとセミコロンを入れ替える
nnoremap ; :
nnoremap : ;

" ヴィジュアルモードの時にバックススペースで削除
vnoremap <BS> d

" CTRL-X と SHIFT-Del でカット
vnoremap <C-X> "+x
vnoremap <S-Del> "+x

" CTRL-C と CTRL-Insert でコピー
vnoremap <C-C> "+y
vnoremap <C-Insert> "+y

" CTRL-V と SHIFT-Insert でペースト
map <C-V>		"+gP
map <S-Insert>		"+gP
cmap <C-V>		<C-R>+
cmap <S-Insert>		<C-R>+

" 範囲選択と貼りつけ
exe 'inoremap <script> <C-V>' paste#paste_cmd['i']
exe 'vnoremap <script> <C-V>' paste#paste_cmd['v']
imap <S-Insert>		<C-V>
vmap <S-Insert>		<C-V>

" CTRL-Q で範囲選択
noremap <C-Q>		<C-V>

" CTRL-S でセーブ
noremap <C-S>		:update<CR>
vnoremap <C-S>		<C-C>:update<CR>
inoremap <C-S>		<C-O>:update<CR>

" CTRL-Z でundo
noremap <C-Z> u
inoremap <C-Z> <C-O>u

" CTRL-Y でredo
noremap <C-Y> <C-R>
inoremap <C-Y> <C-O><C-R>

" CTRL-A で全選択
noremap <C-A> gggH<C-O>G
inoremap <C-A> <C-O>gg<C-O>gH<C-O>G
cnoremap <C-A> <C-C>gggH<C-O>G
onoremap <C-A> <C-C>gggH<C-O>G
snoremap <C-A> <C-C>gggH<C-O>G
xnoremap <C-A> <C-C>ggVG

" CTRL-Tab でウインドウの切り替え
noremap <C-Tab> <C-W>w
inoremap <C-Tab> <C-O><C-W>w
cnoremap <C-Tab> <C-C><C-W>w
onoremap <C-Tab> <C-C><C-W>w

" ファイル全体の整形
nnoremap == gg=G
