" 日本語キーボード互換
nnoremap ( *
nnoremap ! ~
nnoremap & ^
vnoremap ( *
vnoremap ! ~
vnoremap & ^

" コロンとセミコロンを入れ替える
nnoremap ; :
nnoremap : ;
vnoremap ; :
vnoremap : ;

" vv で矩形選択
nnoremap vv <C-V>

" ヴィジュアルモードの時にバックススペースで削除
vnoremap <BS> d

" CTRL-X でカット
vnoremap <C-X> "+x

" CTRL-C でコピー
vnoremap <C-C> "+y

" CTRL-V でペースト
map <C-V> "+gP
cmap <C-V> <C-r>+

" 範囲選択と貼りつけ
exe 'inoremap <script> <C-V>' paste#paste_cmd['i']
exe 'vnoremap <script> <C-V>' paste#paste_cmd['v']

" CTRL-S でセーブ
noremap <C-S> :update<CR>
vnoremap <C-S> <C-C>:update<CR>
inoremap <C-S> <C-O>:update<CR>

" CTRL-Z でundo
noremap <C-Z> u
inoremap <C-Z> <C-O>u

" CTRL-A で全選択
noremap <C-A> gggH<C-O>G
inoremap <C-A> <C-O>gg<C-O>gH<C-O>G
cnoremap <C-A> <C-C>gggH<C-O>G
onoremap <C-A> <C-C>gggH<C-O>G
snoremap <C-A> <C-C>gggH<C-O>G
xnoremap <C-A> <C-C>ggVG

" 画面分割
noremap _ :split<CR><C-w>w
noremap <Bar> :vsplit<CR><C-w>w

" Tab でウインドウの切り替え
noremap <Tab> <C-W>w
onoremap <Tab> <C-C><C-W>w

" ウインドウの移動コマンド
map th <C-w>h
map tk <C-w>k
map tj <C-w>j
map tl <C-w>l

noremap tb :bnext<CR>
noremap tB :bprev<CR>
noremap tt :tabnext<CR>
noremap tT :tabprevious<CR>
noremap tn :tabnew<CR>
noremap tc :tabclose<CR>

" ウインドウのリサイズ
noremap <S-Left> <C-w><
noremap <S-Right> <C-w>>
noremap <S-Down> <C-w>+
noremap <S-Up> <C-w>-

" ファイル全体の整形
nnoremap == gg=Gg;
