" コロンとセミコロンを入れ替える
nnoremap ; :
nnoremap : ;
vnoremap ; :
vnoremap : ;

" ヴィジュアルモードの時にバックススペースで削除
vnoremap <BS> d

" CTRL-X でカット
vnoremap <C-X> "+x

" CTRL-C でコピー
vnoremap <C-C> "+y

" CTRL-V でペースト
map <C-V> "+gP
cmap <C-V> <C-R>+

" 範囲選択と貼りつけ
exe 'inoremap <script> <C-V>' paste#paste_cmd['i']
exe 'vnoremap <script> <C-V>' paste#paste_cmd['v']

" CTRL-S でセーブ
noremap <C-S> :update<CR>
vnoremap <C-S> <C-C>:update<CR>
inoremap <C-S> <C-O>:update<CR>

" CTRL-Z でundo
noremap <C-Z> u
inoremap <C-Z> <C-O>u

" CTRL-A で全選択
noremap <C-A> gggH<C-O>G
inoremap <C-A> <C-O>gg<C-O>gH<C-O>G
cnoremap <C-A> <C-C>gggH<C-O>G
onoremap <C-A> <C-C>gggH<C-O>G
snoremap <C-A> <C-C>gggH<C-O>G
xnoremap <C-A> <C-C>ggVG

" 画面分割
noremap _ :split<CR><C-W>w
noremap <BAR> :vsplit<CR><C-W>w

" Tab でウインドウの切り替え
noremap <TAB> <C-W>w
onoremap <TAB> <C-C><C-W>w

" ウインドウの移動コマンド
map th <C-W>h
map tk <C-W>k
map tj <C-W>j
map tl <C-W>l

noremap tb :bnext<CR>
noremap tB :bprev<CR>
noremap tt :tabnext<CR>
noremap tT :tabprevious<CR>
noremap tn :tabnew<CR>
noremap tc :tabclose<CR>

" ウインドウのリサイズ
noremap <S-LEFT> <C-W><
noremap <S-RIGHT> <C-W>>
noremap <S-DOWN> <C-W>+
noremap <S-UP> <C-W>-

"履歴移動コマンド
nnoremap <silent> H <C-O>
nnoremap <silent> L <C-I>

" ESC の代わり
inoremap <silent> jj <ESC>
inoremap <silent> <S-CR> <ESC>
vnoremap <silent> <S-CR> <ESC>

" vv で矩形選択
nnoremap <silent> vv <C-V>

" ファイル全体の整形
nnoremap == ggvG$=<C-O><C-O>
